@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
  cursor: pointer;
}

@layer utilities {
  .marqueeLeft {
    display: flex;
    width: max-content;
    animation: scrollRight 40s linear infinite; /* Left to Right */
  }

  .marqueeRight {
    display: flex;
    width: max-content;
    animation: scrollLeft 40s linear infinite; /* Right to Left */
  }

  @keyframes scrollLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  @keyframes scrollRight {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }

  .animate-wave {
    animation: wave 2s infinite ease-in-out;
  }
}

@keyframes wave {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  75% { transform: rotate(-5deg); }
}
